/* Glavni kontejner */
.management-container {
    -fx-background-color: #f4f7f6;
}

/* Naslov */
.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.button-box {
    -fx-padding: 5px 0px;
}

/* Zajednički stil za sve gumbe */
.button {
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 3px;
}

/* Dugme: Označi Plaćeno (Zeleno) */
.btn-paid {
    -fx-background-color: #2ecc71;
}
.btn-paid:hover {
    -fx-background-color: #27ae60;
    -fx-opacity: 0.9;
}

/* Dugme: Obriši (Crveno) */
.btn-delete {
    -fx-background-color: #e74c3c;
}
.btn-delete:hover {
    -fx-background-color: #c0392b;
    -fx-opacity: 0.9;
}

/* Dugme: Osvježi (Sivo/Neutralno) */
.btn-refresh {
    -fx-background-color: #95a5a6;
}
.btn-refresh:hover {
    -fx-background-color: #7f8c8d;
    -fx-opacity: 0.9;
}

/* Tabela */
.table-view {
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-border-color: #dcdde1;
    -fx-font-size: 12px;
}

.table-view .column-header {
    -fx-background-color: #f8f9fa;
    -fx-border-color: #dcdde1;
    -fx-padding: 10px;
}